<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登录</title>
		<link rel="stylesheet" type="text/css" href="../css/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../css/public.css"/>
		<link rel="stylesheet" type="text/css" href="../css/login.css"/>
	</head>
	<body>
<!-- header -->
<header>
	<div class="hed">
		<div class="Img">
			<img id="myimgs" src="../img/nav.jpg"/>
			<ul class="ulss">
				<li><a href="#">LV</a></li>
				<li class="liclass"><a href="#">路易威登</a></li>
				<li><a href="#">女士</a></li>
				<li><a href="#" >男士</a></li>
				<li><a href="#">专卖店</a></li>
			</ul>
		</div>
	</div>
	<div class="Heds">
		<a class="Hlink" href="#">LOUIS VUITTON</a>
		<ul class="uls">
			<li><a href="#">LV NOW</a></li>
			<li class="liclass"><a href="#">路易威登世界</a></li>
			<li><a href="#">女士</a></li>
			<li><a href="#" id="manshi">男士</a></li>
			<li><a href="#">专卖店</a></li>
		</ul>

		<nav>
			<a href="#"><i class="iconfont icon-search"></i></a>
			<a href="#"><i class="iconfont icon-gouwudaiweikong"></i></a>
			<a href="#"><i class="iconfont icon-shoucang"></i></a>
			<a href="#"><i class="iconfont icon-yonghu"></i></a>
			<a href="#"><i class="iconfont icon-guanbi"></i></a>
			<span>400 6588 555</span>
		</nav>
	</div>
</header>

<!--section-->
<div class="top">
	<div class="tit">
		<h1>会员登录</h1>
			<span>必填项目*</span>
	</div>
			
		</div>
<div class="L-sec">
	<div class="section-one">
	<div class="left">
		<h3>已有账户请登录</h3>
		<form action="../login" method="post">
			
			用户名* &nbsp;&nbsp;&nbsp;&nbsp; <input name="username" type="text" placeholder="用户名" /> <span id="mesN"></span><br/>
			
			密 码*  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input name="userpass" type="password" placeholder="密码" /> <span id="mesP"></span><br/>
					<a href="#">忘记密码？</a>	<br/>
					<input type="submit" id="log" name="" value="登录"/>
		</form>
	</div>
		<div class="right">
			<h3>我没有注册过任何账户</h3>
			<ul>
				<h4>创建MyLV账户后，您可以通过任何设备：</h4>
				<li>• 查询您的网上订单以及历史购买记录</li>
				<li>• 查询您的网上订单以及历史购买记录</li>
				<li>• 获取最新的路易威登电子报</li>
				<li>• 储存您的购物袋及愿望清单 </li>
			</ul>
			<a href="#">创建一个新的账户</a>
		</div>
	</div>
</div>


<!--footer-->
<footer>
	<div class="f-top">
		<a href="#">路易威登</a>
		<a href="#">您可能感兴趣的内容  |  ^</a>
	</div>
	<div class="f-bottom">
		<a href="#">其他语言</a>
		<a href="#">订阅电子报</a>
		<a href="#">联系我们</a>
		<a href="#">应用程序</a>
		<a href="#">关注我们</a>
		<a href="#">法律声明和隐私条款</a>
		<a href="#">沪ICP备09069024</a>
		<a href="#">电子营业执照</a>
		<a href="#">出版物经营许可证</a>
		<a href="#">沪公网安备</a>
		<a href="#">人力资源</a>
		<a href="#">网站地图</a>
	</div>
	
</footer>
	</body>
</html>
<script src="../js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/reg.js"></script>

