.banner {
  width: 100%;
  overflow: hidden; }
  .banner .rotate {
    margin: 0 2%; }
    .banner .rotate img {
      width: 100%; }

.box {
  width: 100%;
  overflow: hidden;
  display: flex; }
  .box .left {
    box-sizing: border-box;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    border-bottom: 1px solid #e2e2e2; }
    .box .left p {
      font-size: 26px;
      line-height: 50px; }
  .box .right {
    margin-top: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #e2e2e2; }
    .box .right .r-top {
      border: 1px solid #e2e2e2;
      text-align: center;
      color: #443229; }
      .box .right .r-top h2 {
        color: #443229;
        line-height: 60px;
        margin-top: 105px;
        font-size: 26px;
        font-weight: 100;
        box-sizing: border-box; }
      .box .right .r-top p {
        font-size: 16px;
        margin-bottom: 30px;
        box-sizing: border-box; }
      .box .right .r-top input {
        width: 214px;
        height: 33px;
        background: #443229;
        color: white;
        line-height: 33px;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 16px;
        margin-bottom: 102px; }
    .box .right .r-bottom {
      margin-top: 30px;
      box-sizing: border-box;
      text-align: center; }
      .box .right .r-bottom p {
        font-size: 26px;
        line-height: 50px; }

.bot {
  width: 100%;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  margin-top: 30px; }
  .bot a {
    color: black;
    font-size: 26px;
    text-align: center;
    border-bottom: 1px solid #e2e2e2; }
    .bot a p {
      line-height: 136px; }
  .bot .LinkA {
    margin-left: 2%;
    margin-right: 20px;
    box-sizing: border-box; }
  .bot .LinkB {
    margin-right: 20px;
    box-sizing: border-box; }

@media screen and (max-width: 1200px) {
  .left {
    width: 50%; }
    .left img {
      width: 100%; }
  .right {
    width: 50%; }
    .right img {
      width: 100%; }
  .banner {
    height: 400px; }
    .banner .rotate {
      height: 400px; }
      .banner .rotate img {
        height: 400px; }
  .bot a {
    width: 30%;
    margin: 0 1%; }
    .bot a img {
      width: 100%; }
    .bot a p {
      font-size: 16px; } }

@media screen and (max-width: 640px) {
  .box {
    flex-direction: column; }
    .box .left {
      width: 100%; }
      .box .left img {
        width: 100%; }
    .box .right {
      width: 100%; }
      .box .right img {
        width: 100%; }
  .bot {
    flex-direction: column; }
    .bot a {
      width: 100%; }
      .bot a img {
        width: 100%; } }
